#game-canvas {
    margin: auto;
    pad: 0;
    display: block;
}

<<<<<<< HEAD
#main-heading, footer {
=======
#main-heading {
>>>>>>> Add <meta> tags and style.css. Centers the canvas
    text-align: center;
}
