@font-face {
    font-family: Blinker;
    src: url('assets/fonts/blinker/Blinker-Regular.ttf');
}

@font-face {
    font-family: PressStart;
    src: url('assets/fonts/press-start/PressStart2P-Regular.ttf');
}

#game-canvas {
    margin: auto;
    pad: 0;
    display: block;
}

#main-heading, footer, h2, h3, * {
    text-align: center;
}
